<footer class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-sm-offset-3 footer-background">
                <div class="row">
                    <div class="col-sm-6 text-left">
                        Copyright &copy; {{ copyright }}. All Right Reserved
                    </div>
                    <div class="col-sm-6 text-right">
                        Designed With <i class="fa fa-heart-o red"></i> By <a target="_blank" :href="social">{{ developer }}</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</footer>
