<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-2 sidebar">
            <div class="col-sm-2 sidebarWrapper">
                <!-- Avatar -->
                <img class="user-pic" :src="myImageSrc" alt="">
                <div class="signature">
                    <img class="img-responsive" alt="signature" src="images/signature.png">
                </div>
                <!-- Menu -->
                <div class="menu">
                    <div class="toggle-btn">
                        <span class="lines"></span>
                    </div>
                    <ul class="nav">
                        <li class="active">
                            <a href="#about">About me</a>
                        </li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li>
                            <a href="#portfolio">Portfolio</a>
                        </li>
                        <li>
                            <a href="#resume">Resume</a>
                        </li>
                        <li>
                            <a href="#blog">Blog</a>
                        </li>
                        <li>
                            <a href="#testimonial">Testimonial</a>
                        </li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                </div><!-- end Menu -->
            </div>
        </div>
    </div><!-- end row -->
</div><!-- end container -->
